/* Define estilos globais para todos os elementos */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Define o layout da grade para o corpo do site */
body{
    display: grid;
    grid-template-areas: 
    "cabe cabe"
    "prin prin"
    "roda roda";
}

/* Estilos do cabeçalho */
.cabe{
    grid-area: cabe;
    background-color: cornflowerblue;
    text-align: center;
}

/* Estilos do conteúdo principal */
.prin{
    grid-area: prin;
    background-color: white;
    text-align: center;
}

/* Estilos do rodapé */
.roda{
    grid-area: roda;
    background-color: black;
    text-align: center;
    color: white;
}

/* Estilos do menu de navegação */
.head{
    position: absolute;
}

/* Estilos do logotipo */
.logo{
    width: 230px;
}

/* Estilos para o contêiner de cards */
.elemento_pai{
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Estilos para os cards */
.card{
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    margin: 20px;
    text-align: center;
    box-shadow: 10px 10px 9px rgb(92, 92, 92);
    transition: 0.5s;
    flex-wrap: wrap;

}

.texto a{
    display: block;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 8px;
}

.card:hover a{
    background-color: black;
    color: white;
}

.text a{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10%;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
}

/* Estilos para imagens de funkos nos cards */
.funko{
    width: 245px;
}

/* Estilos de responsividade para telas menores */
@media only screen and (max-width: 800px){ logo
    body{
        grid-template-areas: 
        "cabe"
        "prin"
        "prin"
        "prin"
        "prin"
        "roda";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 50px 500px 200px;
    }
}

/* Estilos de responsividade para telas ainda menores */
@media only screen and (max-width:270px){
    body{
        grid-template-areas: 
        "cabe"
        "prin"
        "roda";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 500px 100px;
    }    
    footer{
        display: none;
    }
}

/* Estilos para o botão de finalização da compra no carrinho */
.fimcompra{
    display: inline-block;
    background-color: gray;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

/* Estilos para elementos de produtos */
.produto{
    width: 250px;
}